#about {
    margin-top: 50px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black
}

#about p {
    width: 100%;
    height: min-content;
    font-size: 20px;
    margin-top: 10px
}

#about p a {
    text-decoration: none;
    height: 30px;
    color: white;
    font-size: 20px;
    display: inline-block;
    margin-left: 10px
}

#about p a div {width: min-content}

#about p a div:hover {box-shadow: 0 4px 4px -4px var(--main-font-color, white)}

@media only screen and (max-width: 705px) {
    #about {
        width: 90%;
        justify-content: unset
    }
    #about p a {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-left: unset
    }
}