#photos {
    margin-top: 50px;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center
}

#leftPic, #rightPic {
    height: 80vh;
    min-width: 120vh;
    z-index: 0
}

.leftBlur {box-shadow: -10px 0 100px 10px black}
.rightBlur {box-shadow: 10px 0 100px 10px black}
#mainPic {
    z-index: 1;
    min-width: 150vh
}

#cycleRight {transform: rotate(180deg)}

#galleryMenu {
    display: flex;
    position: fixed;
    margin: 0 auto;
    bottom: 15px;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    width: 130px;
    padding: 4px;
    background-color: rgba(0,0,0,0.5);
    z-index: 2
}

#galleryMenu .arrows {
    display: flex;
    align-items: center;
    width: auto;
    height: 40px
}

#galleryMenu div img {
    height: 40px;
    width: 45px
}

#galleryMenu:hover {cursor: pointer}

.hide {display: none !important}

#select {
    height: 40px;
    width: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 14px;
    color: white;
    flex-wrap: wrap;
    line-height: 1
}

#gallery {
    position: fixed;
    bottom: 70px;
    height: 90px;
    width: 337.5px;
    display: flex;
    flex-wrap: wrap;
    z-index: 2
}

#gallery:hover {cursor: pointer}

.outline {box-shadow: 0 0 30px 2px black}

#gallery img {
    height: 45px;
    width: 67.5px
}

@media only screen and (max-width: 1024px) {
    #galleryMenu {
        left: 50vw;
        transform: translate(-65px,0)
    }

    #gallery {
        left: 50vw;
        transform: translate(-168.75px,0)
    }

    #photos {
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        overflow-x: visible;
        overflow-y: hidden
    }
    
    #leftPic, #rightPic {display: none}
}

@media only screen and (max-width: 600px) {
    .App {width: min-content !important}
}

@media only screen and (max-width: 374px) {
    #gallery {
        height: 225px;
        width: 135px;
    }
}